<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-FKPerson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-FKDog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-FKWolf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-ReturnSelf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-idType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-Varargs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-FKUser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-FKSingleton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-FKPerson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-FKUser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>11-FKBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>myObjectiveCCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBF884E91CA2C31D00519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF884F71CA2C32C00519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF885071CA2CC1300519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF885171CA2CFC900519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF885271CA2D15E00519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF885341CA2D41200519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF885441CA2D73C00519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF885541CA2DD4200519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF8855F1CA2DDA600519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF8856F1CA2E0C000519E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBFB93391CA41981009E9137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBFB93491CA42C60009E9137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBFB93591CA43493009E9137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
